@import 'src/assets/scss/utils/_variables.scss';
@import 'src/assets/scss/utils/_mixins.scss';

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #76c7c0;
    transition: width 0.1s linear;
  }
  