@import 'src/assets/scss/mixins.scss';
@import 'src/assets/scss/variables.scss';

.modal-container {
    @include Flex(center, center);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    background-color: rgba($gray-800, 0.3);
    backdrop-filter: blur(4px);

    .backdrop {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        z-index: -10;
        overflow: hidden;
        background-color: transparent;
        cursor: pointer;
    }
    
    .modal {
        @include Flex(center, center, column);
        width: 100%;
        max-width: 400px;
        background: #ffffff;
        padding: 1em;
        border-radius: 1em;
        gap: 0.5em;
    
        &__header {
            @include Flex(center, center);
            width: 100%;
            position: relative;
            padding: 0 0 1em 0;

            h2 {
                text-align: center;
                margin: 0;
            }

            &__close {
                position: absolute;
                top: 0;
                right: 0;
                width: 1.725em;
                height: 1.725em;
                fill: black;
                cursor: pointer;
            }
        }
    
        &__body {
            @include Flex(center, center, column, no-wrap);
            width: 100%;
        }
    
        &__footer {
            @include Flex(center, center);
            width: 100%;
        }
    }
}