@import 'src/assets/scss/utils/_mixins.scss';
@import 'src/assets/scss/utils/_variables.scss';

form {
    @include Flex(center, center, column);
    gap: 1em;

    .input-container {
        width: 280px;
    }
}

.clickable {
    color: $primary-400;
    font-weight: 500;
}

.btn--modal-size {
    min-width: 130px;
}

.error-same-password {
    margin-top: -0.75em;
}