@import 'src/assets/scss/utils/_variables.scss';
@import 'src/assets/scss/utils/_mixins.scss';

.alert {
    width: 60%;
    background-color: $error-100;
    color: $error-600;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    animation: slideDown 0.5s ease-out;

        @keyframes slideDown {
            from {
            transform: translateY(-100%);
            }
            to {
            transform: translateY(0);
            }
        }
}