$primary-100: rgb(195, 213, 223);
$primary-200: rgb(154, 182, 196);
$primary-300: rgb(113, 151, 168);
$primary-400: rgb(72, 119, 141); 
$primary-500: rgb(52, 93, 120);
$primary-600: rgb(45, 78, 96);
$primary-700: rgb(33, 58, 72);
$primary-800: rgb(18, 34, 43);
$primary-900: rgb(9, 17, 22);

$gray-100: rgb(238, 242, 246);
$gray-200: rgb(205, 213, 223);
$gray-300: rgb(165, 175, 187);
$gray-400: rgb(134, 144, 158);
$gray-500: rgb(105, 117, 134);
$gray-600: rgb(75, 85, 101);
$gray-700: rgb(54, 65, 82);
$gray-800: rgb(32, 41, 57);
$gray-900: rgb(18, 25, 38);

$error-100: rgb(254, 228, 226);
$error-200: rgb(254, 205, 202);
$error-300: rgb(253, 162, 155);
$error-400: rgb(249, 112, 102);
$error-500: rgb(240, 68, 56);
$error-600: rgb(217, 45, 32);
$error-700: rgb(180, 35, 24);
$error-800: rgb(145, 32, 24);
$error-900: rgb(122, 39, 26);

$warning-100: rgb(254, 247, 195);
$warning-200: rgb(249, 219, 175);
$warning-300: rgb(247, 178, 122);
$warning-400: rgb(243, 135, 68);
$warning-500: rgb(239, 104, 32);
$warning-600: rgb(224, 79, 22);
$warning-700: rgb(185, 56, 21);
$warning-800: rgb(147, 47, 25);
$warning-900: rgb(119, 41, 23);

$sucess-100: rgb(226, 254, 228);
$sucess-200: rgb(202, 254, 205);
$sucess-300: rgb(155, 253, 162);
$sucess-400: rgb(102, 249, 112);
$sucess-500: rgb(56, 240, 68);
$sucess-600: rgb(32, 217, 45);
$sucess-700: rgb(24, 180, 35);
$sucess-800: rgb(24, 145, 32);
$sucess-900: rgb(26, 122, 39);

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;