@import 'src/assets/scss/utils/_variables.scss';

.primary-100 {
    color: $primary-100 !important;
}
.primary-200 {
    color: $primary-200 !important;
}
.primary-300 {
    color: $primary-300 !important;
}
.primary-400 {
    color: $primary-400 !important;
}
.primary-500 {
    color: $primary-500 !important;
}
.primary-600 {
    color: $primary-600 !important;
}
.primary-700 {
    color: $primary-700 !important;
}
.primary-800 {
    color: $primary-800 !important;
}
.primary-900 {
    color: $primary-900 !important;
}

.gray-100 {
    color: $gray-100 !important;
}
.gray-200 {
    color: $gray-200 !important;
}
.gray-300 {
    color: $gray-300 !important;
}
.gray-400 {
    color: $gray-400 !important;
}
.gray-500 {
    color: $gray-500 !important;
}
.gray-600 {
    color: $gray-600 !important;
}
.gray-700 {
    color: $gray-700 !important;
}
.gray-800 {
    color: $gray-800 !important;
}
.gray-900 {
    color: $gray-900 !important;
}

.error-100 {
    color: $error-100 !important;
}
.error-200 {
    color: $error-200 !important;
}
.error-300 {
    color: $error-300 !important;
}
.error-400 {
    color: $error-400 !important;
}
.error-500 {
    color: $error-500 !important;
}
.error-600 {
    color: $error-600 !important;
}
.error-700 {
    color: $error-700 !important;
}
.error-800 {
    color: $error-800 !important;
}
.error-900 {
    color: $error-900 !important;
}

.warning-100 {
    color: $warning-100 !important;
}
.warning-200 {
    color: $warning-200 !important;
}
.warning-300 {
    color: $warning-300 !important;
}
.warning-400 {
    color: $warning-400 !important;
}
.warning-500 {
    color: $warning-500 !important;
}
.warning-600 {
    color: $warning-600 !important;
}
.warning-700 {
    color: $warning-700 !important;
}
.warning-800 {
    color: $warning-800 !important;
}
.warning-900 {
    color: $warning-900 !important;
}

.sucess-100 {
    color: $sucess-100 !important;
}
.sucess-200 {
    color: $sucess-200 !important;
}
.sucess-300 {
    color: $sucess-300 !important;
}
.sucess-400 {
    color: $sucess-400 !important;
}
.sucess-500 {
    color: $sucess-500 !important;
}
.sucess-600 {
    color: $sucess-600 !important;
}
.sucess-700 {
    color: $sucess-700 !important;
}
.sucess-800 {
    color: $sucess-800 !important;
}
.sucess-900 {
    color: $sucess-900 !important;
}