.text--regular{
    font-weight: 400 !important;
}

.text--medium{
    font-weight: 500 !important;
}

.text--semibold{
    font-weight: 600 !important;
}

.text--bold{
    font-weight: 700 !important;
}

.text--italic {
    font-style: italic !important;
}

.text--underline {
    text-decoration: underline !important;
}

.text--xs {
    font-size: 0.75em;
}

.text--sm {
    font-size: 0.875em;
}

.text--md {
    font-size: 1em;
}

.text--lg {
    font-size: 1.125em;
}

.text--xl {
    font-size: 1.25em;
}

.text--2xl {
    font-size: 1.375em;
}

.text--3xl {
    font-size: 1.5em;
}